# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# My configurations:
sn.ini
deploy_key_rsa

#备份版本不算
*.backup.zip
*.backup.php
backup
dustbin
**/dustbin/

#图片文件夹不算
zuopin_image
usrTemp

#显示文件列表
*.list.bat
*.list.txt