body {font-family:Verdana, Arial, Helvetica;font-size: x-small;background-color:#f7f7f7;color:#555555}
a:link {color: rgb(204, 0, 0);font-family: Verdana;font-size: xx-small;}
a:active {color: rgb(255, 0, 0);font-family: Verdana;font-size: xx-small;}
a:visited {color: rgb(204, 51, 0);font-family: Verdana;font-size: xx-small;}
p {margin:0}
p.para1 {font-family:Tahoma;}
p.para2 {font-family:Tahoma;color:darkblue;}
.HeadlineGray {font-family:Verdana,Arial,Helvetica;font-size:25px;color:#777777;margin:1px;margin-top:5px;font-weight:bold;}
.CodeForeground {margin:0in;margin-bottom:.0001pt;font-size:9.0pt;font-family:Courier New;}
.CodeInText {font-family:Courier New;font-weight:bold;}
.ScreenText {font-family:Tahoma;}
.ImportantWords {font-weight:bold;}
.Highlight {font-family:Arial;color:red;}